.font-change {
    font-family: "azeretmono", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "width" 100;
}
.all-text-color{
    color:rgba(13, 19, 33, 0.7);
}


.upper-part button{
    border-radius: 10px;
    color: rgb(39, 39, 39);
    font-size: 20px;
    font-weight: 600;
    width: 220px;
    height: 60px;
    background-color: white;
}
.upper-part{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.header-background{
    margin-top: 0px;
    background-image: url(/images/Hero-bg.png);
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-background img{
    max-width: 242px;
    max-height: 242px;
}
.header-background h1{
    font-size: 48px;
    font-weight: 800;
}
.header-background button{
    width: 180px;
    height: 70px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    color: aliceblue;
    background-color: rgb(13, 19, 33);

}
.section-div{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, white , rgb(247, 247, 247) );
    width: 900px;
    border-radius: 10px;
    margin: auto;
    
}
.learn-more{
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
}
.why-web-dev{
    max-width: 1140px;
    max-height: 1395px;
    margin:auto;
    margin-top: 150px;
    background-color: rgb(247, 247, 247);
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.web-h1 , .web-p{
    text-align: center;
}
.vector-text{
    width: 477px;
    height: 220px;
}
.youtube{
    width: 1000px;
    height: 550px;
}
.inspiration-section{
    text-align: center;

}
.current-target{
    text-align: center;
}
.target-div{
    display: flex;
    gap: 30px;
    max-width: 1140px;
    margin: auto;

}
.html{
    
}
