.font-change {
    font-family: "azeretmono", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "width" 100;
}
.paragraph{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 18px;
}
.all-text-color{
    color:rgba(13, 19, 33, 0.7);
}


.upper-part button{
    border-radius: 10px;
    color: rgb(39, 39, 39);
    font-size: 20px;
    font-weight: 600;
    width: 220px;
    height: 60px;
    background-color: white;
}
.upper-part{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.header-background{
    margin-top: 0px;
    background-image: url(/images/Hero-bg.png);
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-background img{
    max-width: 242px;
    max-height: 242px;
}
.header-background h1{
    font-size: 48px;
    font-weight: 800;
}
.header-background button{
    width: 180px;
    height: 70px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    color: aliceblue;
    background-color: rgb(13, 19, 33);

}
.section-div{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, white , rgb(247, 247, 247) );
    width: 900px;
    border-radius: 10px;
    margin: auto;
    
}
.learn-more{
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    height: 40px;

}
.why-web-dev{
    max-width: 1140px;
    max-height: 1395px;
    margin:auto;
    margin-top: 120px;
    background-color: rgb(247, 247, 247);
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}
.web-h1 , .web-p{
    text-align: center;

}
.web-h1{
    font-size: 34px;
}
.vector-text{
    width: 477px;
    height: 220px;
}
.youtube{
    width: 1000px;
    height: 550px;
}
.inspiration-div{
    text-align: center;

}
.current-target{
    text-align: center;
}
.target-div{
    display: flex;
    gap: 15px;
    max-width: 1140px;
    margin: auto;

}
.bold-text{
    font-weight: 700;
    text-decoration-line:underline;

}
.html{
    max-width: 300px;
    height: 240px;
    padding: 30px 24px;
    border-radius: 10px;
    background-color:rgba(255, 76, 30, 0.05);
}

.css{
    max-width: 300px;
    height: 240px;
    padding: 30px 24px;
    border-radius: 10px;
    background-color:rgba(0, 76, 232, 0.05); 
}
.js{
    max-width: 300px;
    height: 240px;
    padding: 30px 24px;
    border-radius: 10px;
    background-color:rgba(255, 223, 0, 0.05);
}

.next-target-section{
    padding-top: 100px;
    max-width: 1130px;
    margin:  auto;


}
.next-target{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

.ReactJs , .MongoDB , .NodeJs{
display: flex;
align-items: center;
gap: 40px;
justify-content: space-between;
border: 2px rgba(0, 0, 0, 0.3) solid;
border-radius: 20px;
padding-left: 20px;
margin-top: 20px;
}
.next-target-text{
    text-align: center;
    
}
.next-target-text h1{
    font-size: 34px;

}

.footer-section{
    margin-top: 60px;

}
.bottom-section{
    margin: auto;
    max-width: 1140px;
    background-image: url(/images/handshake.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    margin-top: 50px;
    border-radius: 10px;


}
.bottom-section-p , .bottom-section-h1{
    color: white;
    
}
.bottom-section-h1{
    font-size: 30px;
}

.bottom-input{
    width: 380px;
    height: 60px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    font-size: 17px;

}
.bottom-button{
    width: 100px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 600;
}
.footer-icons{
    display: flex;
    gap: 24px;
}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 370px;
}
.footer-section{
    background-color: rgb(240, 240, 240);
}
